@font-face {
  font-family: "iconfont"; /* Project id 3277473 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1648371442567') format('woff2'),
       url('iconfont.woff?t=1648371442567') format('woff'),
       url('iconfont.ttf?t=1648371442567') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
  content: "\e605";
}

.icon-kefu1:before {
  content: "\eeb4";
}

.icon-touxiang1:before {
  content: "\e653";
}

.icon-touxiang11:before {
  content: "\e67b";
}

.icon-aicantubiao_yonghu-touxiang:before {
  content: "\e629";
}

.icon-yonghutouxiang-copy:before {
  content: "\e603";
}

.icon-shouji:before {
  content: "\e623";
}

.icon-fuwuzhongxin:before {
  content: "\e650";
}

.icon-gouwudai1:before {
  content: "\e604";
}

.icon-eliaomo:before {
  content: "\e600";
}

.icon-gouwudai:before {
  content: "\e601";
}

.icon-huangguan:before {
  content: "\e602";
}

.icon-touxiang:before {
  content: "\e69c";
}

.icon-wode:before {
  content: "\e612";
}

.icon-dingdan:before {
  content: "\e62a";
}

.icon-compass:before {
  content: "\e67d";
}

.icon-elment:before {
  content: "\e8ca";
}

