@font-face {
  font-family: "iconfont"; /* Project id 3277473 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1663486126891') format('woff2'),
       url('iconfont.woff?t=1663486126891') format('woff'),
       url('iconfont.ttf?t=1663486126891') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-buyCat:before {
  content: "\eeb5";
}

.icon-cangpeitubiao_paixuzhandianpaixu:before {
  content: "\e613";
}

.icon-didian:before {
  content: "\e608";
}

.icon-shijianchuo:before {
  content: "\e996";
}

.icon-pingfen:before {
  content: "\e61f";
}

.icon-jiagezixun:before {
  content: "\e68b";
}

.icon-daochu1024-07:before {
  content: "\e617";
}

.icon-pin2:before {
  content: "\e606";
}

.icon-fukuan:before {
  content: "\e607";
}

.icon-xin:before {
  content: "\e945";
}

.icon-qupiao:before {
  content: "\e639";
}

.icon-yepian:before {
  content: "\e60e";
}

.icon-zuixing-69:before {
  content: "\e63e";
}

.icon-dianhua:before {
  content: "\e605";
}

.icon-kefu1:before {
  content: "\eeb4";
}

.icon-touxiang1:before {
  content: "\e653";
}

.icon-touxiang11:before {
  content: "\e67b";
}

.icon-aicantubiao_yonghu-touxiang:before {
  content: "\e629";
}

.icon-yonghutouxiang-copy:before {
  content: "\e603";
}

.icon-shouji:before {
  content: "\e623";
}

.icon-fuwuzhongxin:before {
  content: "\e650";
}

.icon-gouwudai1:before {
  content: "\e604";
}

.icon-eliaomo:before {
  content: "\e600";
}

.icon-gouwudai:before {
  content: "\e601";
}

.icon-huangguan:before {
  content: "\e602";
}

.icon-touxiang:before {
  content: "\e69c";
}

.icon-wode:before {
  content: "\e612";
}

.icon-dingdan:before {
  content: "\e62a";
}

.icon-compass:before {
  content: "\e67d";
}

.icon-elment:before {
  content: "\e8ca";
}

